@use './main.theme' as main;

html,
body {
  width: 100%;
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 0;
}

@include main.core();

@include main.theme(main.$app-default-theme);

.dark-theme {
  @include main.theme(main.$app-dark-theme);
}

@include main.typography(main.$app-typography);
